# Игнорируем папку node_modules, если она существует
node_modules/

# Игнорируем скомпилированные файлы
dist/
build/

# Игнорируем настройки редакторов
.idea/
.vscode/

# Лог-файлы и временные файлы
*.log
.DS_Store
*.swp
